*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
body{
    display:grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
h1, .image_description{
    font-family: 'Tenor Sans';
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}
h1{
    margin: 18px 0 27px;
    font-size: 36px;
    line-height: 42px;
}
.image_description{
    margin:18px 0 15px;
    font-size: 20px;
    line-height: 24px;
}
h3,.subheader_image{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}
.wrapper{
    max-width:90vw;
    margin:0 auto;
}
.line{
    border:1px solid #E6E6E6;
    width: 100vw;
    margin-bottom: 60px;
    background-color: #E6E6E6;
}
.header{
    grid-area:header;
    max-height:100vh;
    margin-bottom:60px;
}
.header_container{
    display: grid;
    grid-template: 90px/repeat(2, 1fr);
    align-items: center;
}
.header_logo_container{
    justify-self:start;
}
.header_menu{
    display:grid;
}
.header__list {
    width: 255px;
    justify-self: end;
	display: grid;
	grid-auto-flow: column;
    justify-content: space-around;
    list-style: none;
}
.header__link {
	text-decoration: none;
    font-size:14px;
}
.header_text{
    margin-right:11px;
    margin-bottom:28px;
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.header_banner{
    display:grid;
    grid-template-columns: 58% 40%;
    grid-template-rows: 1fr;
    column-gap:25px;
}
.banner{
    position:relative;
}
.banner img{
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;
    top:0;
    left:0;
}
.name{
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.main{
    grid-area: main;
}
.main_section_post{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap:76px;
    column-gap:3%;
    margin-bottom: 92px;
}

.post_item_img{
    position:relative;
    padding:0 0 70% 0;
    margin-bottom:20px;
}
.post_item_img img{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    object-fit: cover;
    margin-right:20px;
}
.post_item_img img, .future_post_item img{
    margin-right:20px;
}
.subheader_posts{
    margin-bottom:30px;
}
.main_section_latest_post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap:74px;
    column-gap:2%;
    margin-bottom:90px;
}
.latest_post_item_img{
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 20px 0px
}
.latest_post_item_img img{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    object-fit: cover;
    margin-right:20px;
}
.button{
    width:205px;
    margin:0 auto;
    text-align: center;
    padding: 21px 26px;
    border: 1px solid black;
    margin-bottom:90px;
}
.button_text{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.main_section_feature_post{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap:74px;
    column-gap:20px;
    margin-bottom: 90px;
}
.future_post_item{
    grid-column: span 2;
}

.future_post_item_img{
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 20px 0px
}
.future_post_item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.footer{
    grid-area:footer;
    padding:90px 0;
    background-color: #141414;
    color: white;
}
.footer_logo a{
    margin-right:15px;
}
.footer_logo span{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}
.footer_categories{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: start;
    gap:20px;
    margin-top:60px;

}
.footer_categories_header{
    grid-column:1/5;
    grid-row:1/2;
}
.animation{
    grid-column:1/2;
    grid-row:2/3;
}
.architecture{
    grid-column:2/3;
    grid-row:2/3;
}
.graphic{
    grid-column:3/4;
    grid-row:2/3;
}
.illustration{
    grid-column:4/5;
    grid-row:2/3;
}
.interactive{
    grid-column:1/2;
    grid-row:3/4;
}
.miscellaneous{
    grid-column:2/3;
    grid-row:3/4;;
}
.photography{
    grid-column:3/4;
    grid-row:3/4;
}
.product{
    grid-column:4/5;
    grid-row:3/4;
}
.footer_email{
    grid-column:5/7;
    grid-row:1/2;
}
.input{
    grid-column:5/7;
    grid-row:2/4;
    width:300px;
    display:flex;

}
.input_element{
    height: 45px;
    width:220px;
    padding-left:24px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#666666;
}
.input_button{
    height:45px;
    width: 79px;
    background-color:black;
    cursor:pointer;
}
.input_button_text{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media (max-width: 1178px) {
    .future_post_item{
        grid-column:auto;
    }
}

@media (max-width: 960px) {
    .footer_categories{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-items: start;
        gap:20px;
        margin-top:60px;
    
    }
    .footer_categories_header{
        grid-column:1/4;
        grid-row:1/2;
    }
    .animation{
        grid-column:1/2;
        grid-row:2/3;
    }
    .architecture{
        grid-column:2/3;
        grid-row:2/3;
    }
    .graphic{
        grid-column:3/4;
        grid-row:2/3;
    }
    .illustration{
        grid-column:1/2;
        grid-row:3/4;
    }
    .interactive{
        grid-column:2/3;
        grid-row:3/4;
    }
    .miscellaneous{
        grid-column:3/4;
        grid-row:3/4;;
    }
    .photography{
        grid-column:1/2;
        grid-row:4/5;
    }
    .product{
        grid-column:2/3;
        grid-row:4/5;
    }
    .footer_email{
        grid-column:4/5;
        grid-row:1/2;
    }
    .input{
        grid-column:4/6;
        grid-row:2/4;
        width:250px;
        display:flex;
    
    }
}
@media (max-width: 920px) {
    .main_section_latest_post{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}
@media (max-width: 760px) {
    h1{
        margin: 18px 0 20px;
        font-size: 31px;
        line-height: 40px;
    }
    .footer_categories{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        justify-items: start;
        gap:20px;
        margin-top:60px;
    
    }
    .footer_categories_header{
        grid-column:1/3;
        grid-row:1/2;
    }
    .animation{
        grid-column:1/2;
        grid-row:2/3;
    }
    .architecture{
        grid-column:2/3;
        grid-row:2/3;
    }
    .graphic{
        grid-column:1/2;
        grid-row:3/4;
    }
    .illustration{
        grid-column:2/3;
        grid-row:3/4;
    }
    .interactive{
        grid-column:1/2;
        grid-row:4/5;
    }
    .miscellaneous{
        grid-column:2/3;
        grid-row:4/5;;
    }
    .photography{
        grid-column:1/2;
        grid-row:5/6;
    }
    .product{
        grid-column:2/3;
        grid-row:5/6;
    }
    .footer_email{
        grid-column:3/4;
        grid-row:1/2;
    }
    .input{
        grid-column:3/5;
        grid-row:2/4;
        width:200px;
        display:flex;
    
    }
 
}
@media (max-width: 700px) {
    h1{
        margin: 18px 0 20px;
        font-size: 25px;
        line-height: 35px;
    }

}

@media (max-width: 600px) {
    .header_banner{
        height: 50vh;
        display:grid;
        grid-template-columns: 1fr;
    }
    .banner{
        position:static;
    }
    .banner img{
        position:static;

    }
    .header_description{
        display:none;
    }
    .image_description {
        margin: 5px 0 10px;
        font-size: 14px;
        line-height: 16px;
    }
    h3, .subheader_image, .name {
        font-size: 8px;
        line-height: 10px;
    }
}
@media (max-width: 500px) {
    .footer_categories{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap:10px;
        margin-top:30px;
    
    }
    .footer_categories_header{
        grid-column:1/3;
        grid-row:1/2;
    }
    .animation{
        grid-column:1/2;
        grid-row:2/3;
    }
    .architecture{
        grid-column:2/3;
        grid-row:2/3;
    }
    .graphic{
        grid-column:1/2;
        grid-row:3/4;
    }
    .illustration{
        grid-column:2/3;
        grid-row:3/4;
    }
    .interactive{
        grid-column:1/2;
        grid-row:4/5;
    }
    .miscellaneous{
        grid-column:2/3;
        grid-row:4/5;;
    }
    .photography{
        grid-column:1/2;
        grid-row:5/6;
    }
    .product{
        grid-column:2/3;
        grid-row:5/6;
    }
    .footer_email{
        grid-column:1/2;
        grid-row:6/7;
    }
    .input{
        grid-column:1/3;
        grid-row:7/8;
        width:60%;
    }
}
@media (max-width: 420px){
    .header_menu{
        display:none;
    }
}